@import "less/bootstrap.less";

.launch-tooltip, .launch-tooltip:hover {
    text-decoration: none;
    color: @grayDark;
}
.icon-question-sign {
    color: @red;
}
table {
    width: 500px;
    background: @grayLighter;
    th {
        color: @blueDark;
        border-bottom: 1px solid @grayLight;  
    }
    td, th {
        padding: 10px;
    }
    .total-row td {
        border-top: 1px solid @grayLight;
    }
}
.table {
    display: table;
    width: 500px;
    background: @grayLighter;
    span {
        padding: 10px;
    }
    .table-head {
        color: @blueDark;
        border-bottom: 1px solid @grayLight;
        display: table-cell;
        text-align: center;
        font-weight: bold;
    }
    .table-row {
        display: table-row;
        color: @grayDark;
        text-decoration:  none;
    }
    .table-cell {
        display: table-cell;
    }
}
.table-bordered {
    border: 1px solid @gray;
    .border-radius(5px);
}
span.required {
    color: @red;
}
.error-message {
    color: @red;
    font-size: 90%;
}
.input {
    .error-message {
        margin: -5px 0 5px 170px;
    }
}
dl {
    dt {
        float: left;
        width: 160px;
        text-align: right;
        padding-right: 10px;
    }
    dd {
        margin-left: 170px; 
    }
}
.paging {
    font-size: 90%;
    span {
        padding: 5px;
    }
    .disabled {
        display: none;
    }
}
.watches.index {
    text-align: center;
    table {
        width: auto;
        .description {
            width: 500px;
            text-align: left;
        }
    }
}

.orders.index {
    width: 450px;
    h3 {
        color: @white;
        background: @blue;
        .border-radius(5px);
        padding: 0 10px;
    }
    h6 {
        margin: 0;
    }
    section {
        margin-bottom: 25px; 
    }
    .control-label {
        margin-right: 5px; 
    }
    .checkout-form {
        padding: 5px;
        background: @grayLighter;
        border: 1px solid @gray;
        .border-radius(5px);
        .clearfix();
    }
    label {
        font-size: 90%;
        font-weight: bold;
    }
    .review-cart {
        form {
            border: none;
        }
        label {
            font-weight: normal;
        }
    }
    .shipping {
        .shipping-inner {
            display: none;
        }
    }
    .address {
        .address-form-billing {
            .checkbox {
                padding: 10px 0 0 0;
            }
        }
        .radio.inline {
            margin-right: 30px;
        }
        input, select {
            margin: 5px;
        }
        .navbar-inner {
            padding: 0 10px;
        }
        .billing-country-name {
            padding-top: 5px;
            margin-left: 170px
        }
        .shipping-instructions {
            display: none;
        }
        textarea {
            display: none;
            width: 440px;
            height: 150px
        }
    }
    .checkout-form {
        input {
            margin: 5px;
        }
        .input {
            line-height: 20px;
        }
        .card-expiry-month {
            float: left;
        }
        label[for=CardCvc] {
            padding-top: 10px;
        }
        label[for=CardMonth] {
            padding-top: 5px;
            margin-right: 10px;
        }
        select option {
            color: #555;
        }
        .payment-errors {
            display: none;
        }
        .card-number-div {
            height: 52px;
        }
        .submit {
            text-align: center;
        }
    }
}
.confirm {
    .notes {
        width: 500px;
    }
}
.admin-index {
    .row-hover {
        background: @white;
        cursor: pointer;
    }
}